@charset "utf-8";
/* CSS Document */



@font-face {
    font-family: 'square721_dmregular';
    src: url('fonts/square721dm-webfont.eot');
    src: url('fonts/square721dm-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/square721dm-webfont.woff') format('woff'),
         url('fonts/square721dm-webfont.ttf') format('truetype'),
         url('fonts/square721dm-webfont.svg#square721_dmregular') format('svg');
    font-weight: normal;
    font-style: normal;}

body{
	margin:0;
	padding:0;
	background:#fff;}

td{
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	line-height:15px;
	color:#3b4964;}
a{
	outline:none;
	color:#37a2ca;
	text-decoration:none;}
a:hover{
	text-decoration:underline;}
img{
	border:0;}
	
.main_menu{
	margin:0;
	padding:0;
	list-style:none;
	float:right;
	width:720px;}
.main_menu li{
	float:right;
	margin-left:4px;}
.main_menu li a{
    font-family: 'square721_dmregular';
	display:block;
	background:url(../images/menu_r.gif) no-repeat right top;
	height:31px;
	font-size:14px;
	color:#656565;
	text-transform:uppercase;
	text-decoration:none;}
.main_menu li a span{
	display:block;
	height:31px;
	font-size:14px;
	line-height:18px;
	padding:4px 25px;
	background:url(../images/menu_l.gif) no-repeat left top;}
.main_menu li a:hover{
	color:#fff;
	text-decoration:none;
	background:url(../images/menu_r-over.gif) no-repeat right top;}
.main_menu li a:hover span{
	cursor:pointer;
	background:url(../images/menu_l-over.gif) no-repeat left top;}
	
.hdr{
	font-family:Arial, Helvetica, sans-serif;
	font-size:30px;
	color:#374766;
	line-height:32px;}
.hdr2{
	font-family:Arial, Helvetica, sans-serif;
	font-size:22px;
	color:#374766;
	line-height:24px;}
.black{
	color:#000;}
	
.bottom_menu,
.bottom_menu a{
	font-size:13px;
	color:#bababa;
	text-decoration:none;}
.bottom_menu a:hover{
	color:#3b4964;}
.footer,
.footer a{
	font-size:13px;
	line-height:20px;
	color:#bababa;
	text-decoration:none;}
.footer a:hover{
	color:#3b4964;}
	
.relative{
	position:relative;
	z-index:5;}
.head_text{
	color:#222935;}
	
#slideshow{
	position:absolute;
	left:0;
	top:0;
	z-index:2;}
.slideshow_box{
	position:relative;
	width:960px;
	margin:0 auto;}
#slideshow_prev,
#slideshow_next{
	display:block;
	background:url(../images/btn_arrow_right.png) no-repeat;
	width:17px;
	height:33px;
	text-indent:100%;
	overflow:hidden;
	white-space:nowrap;
	position:absolute;
	top:198px;
	right:1%;}
#slideshow_prev{
	background:url(../images/btn_arrow_left.png) no-repeat;
	left:1%;}
#slideshow_next{
	background:url(../images/btn_arrow_right.png) no-repeat;
	right:1%;}
	
ul.none{
	list-style:none;
	margin:7px 0;}