/* TAGS */

#lightbox-container-image-data-box {
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.lightbox {
	height:500px;
}
 
/** page structure **/
#w {
  width: 750px;
  margin: 0 auto;
  padding-top: 30px;
}
 
#thumbnails { display: block; margin-bottom: 10px; }
#thumbnails ul li { float: left; margin-right: 26px; margin-bottom: 12px; }


.entryformclass {
	background: white;
}

#divtable {
	overflow: auto;
	height:155px;
	border: 1px solid #CCCCCC;
}

#orderapp form {
	padding:2px;
}

#orderform {
	margin-top: 2px;
}

#orderform td input {
	font-size:10px;
}

#orderform #submitbutton {
	padding:15px;
	font-size:14px;
	margin-top: 14px;
}

#orderform .header td {
	font-style: italic;
	font-weight: bold;
	font-size: 10px;
}

#orderform td {
	padding-top: 3px;
}

#orderform .favourite {
	font-weight: bold;
}

.ui-autocomplete {
	max-height:200px;
	overflow:auto;
	border:1px solid #AAAAAA ! important;
}

.ui-autocomplete li a:hover
{
    color:White ! important;
    background:#96B202 ! important;
    outline:none ! important;
    padding-left:2px ! important;
    padding-right:2px ! important;
}

.ui-state-focus
{
    color:White;
    background:#96B202;
    outline:none;
}

* {
	margin: 0;
	padding: 0
}

html {
	min-width: 960px;
	height:100%;
}

.ui-jqgrid-btable td {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: -moz-none;
  -ms-user-select: none;
  user-select: none;
}

html, body {
    min-height: 100%;
}

#loginForm {
	background-position-y: -80;
}

body {
	background: url(../images/sitebg.jpg) ;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	line-height: 1em;
	color: #434343;
	min-width: 960px;
	border-top: 5px solid #dbdbdb;
}

object {
	vertical-align: top;
	outline: none
}


fieldset {
	border: 0
}

p {
	margin: 0;
	padding: 0
}

img {
	border: 0;
	vertical-align: top;
	text-align: left
}

ul,ol {
	list-style: none;
}

/* ALIGMENT */
.fleft {
	float: left
}

.fright {
	float: right ! important;
}

.clear {
	clear: both
}

.alignright {
	text-align: right
}

.aligncenter {
	text-align: center
}

.wrapper {
	width: 100%;
	overflow: hidden
}

.extra-wrap {
	overflow: hidden
}

.container {
	width: 100%
}

/* GLOBAL */
#header,#content .row-1,#content .row-2 {
	font-size: 0.814em;
	width: 1010px;
	margin: 0 auto
}

.col-1,.col-2,.col-3 {
	float: left
}

/* TAILING */
.tail-top {
	background-color: #f4f4f4
}

.tail-middle {
	background-color: #e8e8e8
}

.tail-top-left {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0px;
	padding-top: 5px;
	min-height: 830px
}

/* FORMS */
#contacts-form {
	clear: right;
	width: 100%;
	overflow: hidden
}

#contacts-form fieldset {
	border: none;
	float: left
}

#contacts-form .field {
	clear: both
}

#contacts-form label {
	float: left;
	width: 97px;
	line-height: 18px;
	padding-bottom: 8px;
	color: #454545
}

#contacts-form input {
	width: 250px;
	padding: 1px 0 1px 3px;
	border: 1px solid #aaa;
	color: #70635b;
	background: none
}

#contacts-form textarea {
	width: 465px;
	height: 192px;
	padding: 1px 0 1px 3px;
	border: 1px solid #aaa;
	color: #70635b;
	margin-bottom: 15px;
	overflow: auto;
	background: none
}

#contacts-form .link1 {
	float: right
}

/* LISTS */
.site-map li {
	float: left;
	line-height: 1.54em
}

.site-map li.m1 {
	width: 190px
}

.site-map li.m2 {
	width: 240px
}

.site-map li.m3 {
	width: 182px
}

.site-map li.m4 {
	width: 178px
}

.site-map li a {
	color: white;
}

.site-map li ul li {
	float: none
}

.site-map li.last {
	margin: 0
}

/* OTHER */
.img-indent {
	margin-bottom: 20px
}

.img-box1 {
	width: 100%;
	overflow: hidden;
	line-height: 1.54em;
	padding-bottom: 14px
}

.img-box1 img {
	float: left;
	margin: 0 20px 0 0
}

.img-box1.alt {
	position: relative;
	margin-left: -13px
}

.img-box1.alt img {
	margin-right: 12px
}

.img-box2 {
	left: 20px;
	top: -8px;
	position: relative
}

.img-box2 p {
	color: white;
	margin: 0;
	line-height: 1.69em;
	margin-bottom: 21px
}

.img-box2 p.extra {
	color: white;
	font-size: .91em;
	line-height: 1.83em;
	font-family: Tahoma, Arial, helvetica, sans-serif;
	margin: 0
}

.img-box2 p.extra a {
	color: #fff
}

.img-box2 .inner {
	padding: 0px;
}

.img-box2.extra .inner {
	padding-bottom: 51px
}

p {
	margin-bottom: 20px;
	line-height: 1.54em
}

.p0 {
	margin: 0
}

.p1 {
	margin-bottom: 30px
}

.address {
	width: 303px;
	line-height: 1.69em
}

.address b {
	float: left;
	width: 90px
}

.extra-column {
	width: 552px;
	float: left;
	line-height: 1.54em
}

/* TXT, LINKS, LINES, TITLES */
a {
	color: blue;
	outline: none
}

a:hover {
	text-decoration: none
}

h3 {
	font-size: 28px;
	line-height: 1.2em;
	margin-bottom: 15px
}

h1 {
	font-size: 1.54em;
	line-height: 1.2em;
	font-family: Verdana, Geneva, sans-serif;
}

h4 {
	font-size: 1.54em;
	line-height: 1.2em;
	color: #333333;
	padding: 14px 0 8px 0;
	font-weight: normal;
	font-family: Tahoma, Arial, helvetica, sans-serif
}

.inner h4 {
	font-size: 15px;
	line-height: 16px;
	color: white;
	padding: 14px 0 8px 0;
	font-weight: bold;
	font-family: Tahoma, Arial, helvetica, sans-serif
}

.txt1 {
	color: red;
	font-size: 17px;
	line-height: 1.2em
}

.txt2 {
	color: red
}

.txt3 p {
	font-family: Tahoma, Arial, helvetica, sans-serif
}

.link1 {
	display: block;
	float: left;
	background: url(../images/link1-tail.gif) repeat-x left top;
	color: #fff ! important;
	text-decoration: none;
	line-height: .92em
}

.link1 em {
	display: block;
	background: url(../images/link1-left.gif) no-repeat left top
}

.link1 b {
	display: block;
	background: url(../images/link1-right.gif) no-repeat right top;
	padding: 7px 10px 7px 10px;
	font-style: normal
}

.link1:hover {
	text-decoration: underline
}

/* BOXES */
.box {
	background: #4c8403;
	width: 100%
}

.box .border-top {
	background: url(../images/border-top.gif) repeat-x left top
}

.box .border-bot {
	background: url(../images/border-bot.gif) repeat-x left bottom
}

.box .left-top-corner {
	background: url(../images/left-top-corner.gif) no-repeat left top
}

.box .right-top-corner {
	background: url(../images/right-top-corner.gif) no-repeat right top
}

.box .left-bot-corner {
	background: url(../images/left-bot-corner.gif) no-repeat left bottom;
	min-height: 180px;
	height: auto !important;
	height: 180px
}

.box .right-bot-corner {
	background: url(../images/right-bot-corner.gif) no-repeat right bottom
}

.box1 {
	background: #306a01;
	width: 100%;
	color: white
}

.box1 .border-top {
	background: url(../images/border-top1.gif) repeat-x left top
}

.box1 .border-bot {
	background: url(../images/border-bot1.gif) repeat-x left bottom
}

.box1 .left-top-corner {
	background: url(../images/left-top-corner1.gif) no-repeat left top
}

.box1 .right-top-corner {
	background: url(../images/right-top-corner1.gif) no-repeat right top
}

.box1 .left-bot-corner {
	background: url(../images/left-bot-corner1.gif) no-repeat left bottom;
	min-height: 156px;
	height: auto !important;
	height: 156px
}

.box1 .right-bot-corner {
	background: url(../images/right-bot-corner1.gif) no-repeat right bottom
}

.box1 .inner {
	padding: 35px 0 30px 34px
}

/* HEADER */
.header1 {
	height: 73px;
	background: url(../images/logomain2.png) no-repeat left bottom;
	position: relative;
}

.header2 {
	height: 552px;
	background: url(../images/header-bg2.jpg) no-repeat left bottom
		! important;
	position: relative
}

#header .row-1 {
	height: 75px
}

#header .row-1 .fleft {
	padding: 15px 0 0 14px
}

#header .row-1 .fright {
	padding: 26px 50px 0 0
}

#header .row-1 .fright ul li {
	float: left;
	font-size: 17px;
	line-height: 1.2em;
	padding-left: 2px
}

#header .row-1 .fright ul li a {
	color: #7b7b7b;
	text-decoration: none
}

#header .row-1 .fright ul li a:hover,#header .row-1 .fright ul li a.active
	{
	color: #000
}

#header .row-2 span {
	text-align: right;
	display: block;
	padding: 69px 50px 0 0
}

#header .row-2 b {
	margin-bottom: 18px;
	display: block
}

#header .row-2 a {
	margin-right: -2px
}

/* CONTENT */
#content {
	margin-top: 12px;
	position: relative;
}

#content .row-1 .inside {
	padding: 0 0 0px 0px
}

#content .row-2 .inside {
	padding: 2px 0 4px 0
}

#content .row-2 h3 {
	padding-left: 42px
}

#content .aside {
	float: left;
	width: 220px;
	padding: 10px;
	height: 480px;
	background: url(../images/asidebg.png);
	margin-right: 12px
}

#content .aside h3 {
	border-bottom: 1px solid #d4d4d4;
	margin: 0 0 0 12px;
	margin-bottom: 20px;
	left: -10px;
	position: relative
}

#content .aside ul {
	padding-bottom: 5px
}

#content .aside ul li {
	font-size: 1.08em;
	color: #848484;
	width: 100%;
	overflow: hidden;
	vertical-align: top;
	padding-bottom: 12px
}

#content .aside ul li img {
	float: left;
	position: relative;
	top: 3px;
	margin-right: 7px
}

#content .aside ul li span {
	display: block;
	color: #000;
	font-size: 20px;
	line-height: 1.2em;
	padding-bottom: 2px
}

.content {
	margin-top: 30px;
	min-height:600px;
	border: 1px solid #999999;
}

#content .indent {
	padding: 0 20px
}

.inner_copy,.inner_copy a {
	border: 0;
	float: right;
	background: inherit;
	color: #f00;
	width: 35%;
	line-height: 10px;
	font-size: 10px;
	margin: -100% 0 0 0;
	overflow: hidden;
	padding: 0
}

/* FOOTER */
#footer .footer {
	color: #fff;
	background-color: #313131;
	text-align: center;
	padding: 5px 0 6px 0
}

#footer a {
	color: white;
	font-size:11pt ;
		line-height:11pt ;
	text-decoration: none;
}

/* carousel */
.carousel-box {
	position: relative;
	width: 960px;
	overflow: hidden;
	margin-top: 0px
}

.carousel-box .prev {
	position: absolute;
	left: 0;
	top: 147px;
	z-index: 10
}

.carousel-box .next {
	position: absolute;
	right: 0;
	top: 147px;
	z-index: 10
}

.carousel-box .prev a,.carousel-box .next a {
	cursor: pointer
}

.carousel-box ul {
	width: 900px;
	margin-left: 20px !important
}

.carousel-box ul li {
	width: 288px;
	float: left;
	border: 0;
	margin-right: 28px;
	position: relative;
	padding-top: 8px
}

.login div {
	width: 108px;
	height: 102px;
	margin-left: 20px;
	margin-top: -20px;
	border: 0px solid black;
}

#searchpaneldiv input {
	font-style: italic;
	font-size: 15px;
	border: 1px solid white;
}
#searchpaneldiv a {
	width: 50px;
	text-decoration: none;
	font-size: 28px;
	height: 50px;
	display: inline-table;
}
#searchpaneldiv {
	width: 420px;
	height: 40px;
	position: absolute;
	margin-left: 728px;
	margin-top: 212px;
}

.login-dialog .ui-dialog-titlebar {
	font-size: 12px;
	width: 478px ! important;
	height: 125px ! important;
	border: 0px solid black ! important;
	background: url(../images/logomain.png) no-repeat top center;
}


.login #loginbutton {
	background: url(../images/login.png) no-repeat;
}

.login #logoutbutton {
	background: url(../images/logout.png) no-repeat;
}

.login  #loginbutton:hover {
	background: url(../images/login-hover.png) no-repeat ! important;
}

.login #logoutbutton:hover {
	background: url(../images/logout-hover.png) no-repeat ! important;
}

.login {
	margin-left: 920px;
	margin-top: 38px;
	position: absolute;
}

#searchform > table > tbody > tr > td, #manualeditform > table > tbody > tr > td {
	padding:2px;
}

.entryform label {
	display: block;
}

.attachbutton {
	display: inline;
}

.leftad {
	width: 167px;
	height: 400px;
	margin-left: 25px;
}

.bottomad {
	width: 960px;
	height: 100px;
	margin-top: -10px;
	margin-bottom: 5px;
}

.topad {
	width: 960px;
	height: 100px;
	margin-top: -65px;
}

.inner a:hover {
	color: yellow;
}

.inner p a {
	color: white;
	text-decoration: none;
}

.inner p {
	font-size: 12px ! important;
	line-height: 13px ! important;
	white-space: nowrap;
	width: 220px ! important;
}
.breadcrumb  a{
	color: black;
}

.breadcrumb  {
	width: 500px;
	margin-left: 500px;
	text-align: right;
	z-index: 60;
	position: absolute;
	margin-bottom: 7px;
	margin-top: -10px;
	font-size: 11px;
}

.breadcrumb .divider {
	margin-left: 3px;
	letter-spacing: -4px ! important;
	color: black ! important;
	margin-right: 4px;
}

.breadcrumb span a {
	text-decoration: none;
	color: white ! important;
	margin-top: -10px ! important;
	margin-left: 5px ! important;
}

.extra-wrap a:hover {
	color: black ! important;
	text-decoration: underline;
}

.extra-wrap td {
		font-size: 13px ! important;
}
.extra-wrap a {
	color: #848484 ! important;
	text-decoration: none;
}

#logindialog a {
	color: white;
}

#logindialog #close {
	float: right;
	margin-right: 50px;
	margin-top: 10px;
}

#logindialog table {
	padding: 20px;
	padding-top: 40px;
}

#logindialog p {
	color: grey;
	font-size: 12px;
	margin-top: -80px;
	padding-left: 200px;
}

#logindialog {
	color: white;
	position: absolute;
	margin-left: 520px;
	margin-top: 200px;
	width: 400px;
	z-index: 1000;
	height: 231px;
	background: url(../images/logindialog.png) no-repeat;
}

.row-1 #logo {
	margin-top: -15px;
}

#logoutdialog {
	color: white;
	position: absolute;
	margin-left: 520px;
	margin-top: 330px;
	width: 400px;
	z-index: 10000;
	height: 231px;
	background: url(../images/logout.png) no-repeat;
}

.hide {
	display: none;
}

#upload_container #filelist {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 10px;
	line-height: 11px;
	color: #333;
}

#messagecontainer {
	text-decoration:none; 
	color: red !important;
}

.rgap5 {
	margin-right: 5px;
}

.rgap2 {
	margin-right: 2px;
}

#toppanel a {
	color: black;
}

#toppanel .prefix {
	color: black;
	font-weight: bold;
}

#toppanel {
	position: absolute;
	color: white;
	text-align: right;
	width: 980px;
	height: 20px;
	margin-top: 29px;
}

#chatpanel {
	position: absolute;
	color: black;
	text-align: right;
	width: 260px;
	height: 20px;
}

#chatpanel>label:first-child {
	font-family: Verdana, Geneva, sans-serif;
	letter-spacing: -1px ! important;
	color: red;
	font-style: italic;
	font-size: 12px;
}

#expertpanel a {
	font-family: Verdana, Geneva, sans-serif;
	text-decoration: none ! important;
	letter-spacing: -1px ! important;
	color: black;
	font-size: 12px;
}

#expertpanel {
	position: absolute;
	text-align: right;
	width: 230px;
	top: 20px;
	height: 40px;
}

.expertsonline {
	color: black ! important;
	font-style: normal ! important;
}

.chatwindow {
	overflow: auto;
	width: 685px;
	height: 300px;
	border: 1px solid grey;
	background-color: white;
}

.username {
	color: blue;
}

.datestamp {
	color: blue;
}

#slideshow {
	position: relative;
	height: 300px;
}

#slideshow IMG {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 8;
}

#slideshow IMG.active {
	z-index: 10;
}

#slideshow IMG.last-active {
	z-index: 9;
}

.articles thead th {
	text-align: left;
}

.articles td,.articles a,.articles h3 {
	color: black;
	vertical-align: top;
	padding: 0px 10px 0px 0px;
	margin: 0px;
	font-size: 12px;
}

.modal {
	overflow-x: hidden ! important;
	display: none;
	z-index: 10000;
}

.ui-dialog {
	
	background-color: white ! important;
	box-shadow: 8px 8px 0px 0px rgba(0, 0, 0, 0.3) ! important;
	-moz-box-shadow: 8px 8px 0px 0px rgba(0, 0, 0, 0.3) ! important;
	-webkit-box-shadow: 8px 8px 0px 0px rgba(0, 0, 0, 0.3) ! important;
	behavior: url(scripts/pie.htc) ! important;
}

.ui-dialog-titlebar-close {
	display: none ! important;
}

.textfield60 {
	width: 300px ! important;
}

.textfield90 {
	width: 500px ! important;
}

.articles table a {
	text-decoration: none;
}

.articles table {
	table-layout: fixed;
}

.articles table .first {
	width: 100px;
}

.articles table .last {
	width: 200px;
}

.views {
	font-size: 8px;
	color: yellow;
}

#chatrequestalert {
	z-index: 100000;
	position: fixed;
	display: none;
	margin-left: 20px;
	margin-top: 400px;
	width: 210px;
	height: 210px;
	background: url(../images/chatalert.png) no-repeat;
}

#servicerequestalert {
	z-index: 100000;
	position: fixed;
	display: none;
	margin-left: 20px;
	margin-top: 500px;
	width: 210px;
	height: 210px;
	background: url(../images/servicerequestalert.png) no-repeat;
}


.grid td a,.list2 td a {
	text-decoration: underline;
	color: blue ! important;
}

.grid2>thead td,.grid tfoot td {
	font-weight:bold;
	font-style:italic;
	font-size:12px;
}

.grid2 td a {
	color: blue;
}

.grid>thead td,.grid tfoot td {
	height: 20px;
	background: url(images/ui-bg_highlight-soft_100_eeeeee_1x100.png) #dfeffc repeat-x 50% 50%;
	color: black;
	font-weight: bold;
	font-size: 12px;
	padding: 2px;
}

.grid tbody tr:hover {
	color: white;
	background-color: blue;
}

.grid td {
	padding: 2px 0px 2px 5px;
	font-size: 12px;
	line-height: 12px;
}

.gallery {
	height: 500px;
}

.gallery .grid {
	margin-top: 20px;
}

.grid tr {
	border: 1px solid white;
}

.highlight {
	border: 1px solid black ! important;
	background-color: grey ! important;
	color: white ! important;
}

.list {
	border: 1px solid #DDDDDD;
	border-left: 0px solid #DDDDDD ! important;
}

.list thead td {
	border-bottom: 1px solid #DDDDDD;
}

.list td {
	border-left: 1px solid #DDDDDD;
}

#contentForm input {
	width: 100px;
}

#contentForm label,#contentForm input[type='submit'] {
	display: block;
	margin-top: 20px;
}

.featured {
	background-color: pink;
}

.featured td {
	border-bottom: 1px solid #777777 ! important;
	padding-bottom: 2px;
}

.codepreview {
	max-height: 300px;
	overflow: auto;
	margin: 5px;
	border-bottom: 1px solid #e8e8e8;
	border-top: 1px solid #e8e8e8;
}

ol.lncode {
	margin: 0px 0px;
	padding: 0 0 0 20px;
	background: #e8e8e8;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
	line-height: 100%;
	font: normal 12px Courier, monospace;
}

ol.lncode li {
	margin: 0 0 0 20px;
	padding: 2px 10px 2px 10px;
	list-style: decimal-leading-zero;
	line-height: 100%;
	word-wrap: break-word;
	border-left: 1px solid #ccc;
	color: #999;
	background: #fff;
}

ol.lncode li pre {
	display: block;
	margin: 0;
	padding: 0;
	color: #333;
}

.content ul, .content ol {
	list-style: circle ! important;
}

.textbox10 {
	width: 80px;
}

.body {
	padding: 5px;
	background-color: #EEEEEE;
	border: 1px solid #999999;
}

.answer {
	padding: 5px;
	background-color: #F0F0F0;
	border: 1px solid #999999;
}

.textbox70 {
	width: 300px ! important;
}

.textbox90 {
	width: 430px ! important;
}

h2 {
	font-size: 16px;
	line-height: 20px;
}

.pickListContainer select {
	width: 780px;
	height: 150px;
}

.pickListButton div {
	padding-top: 10px ! important;
	padding-bottom: 10px ! important;
}

.readonlydate {
	width: 80px ! important;
}

.datepicker {
	width: 80px ! important;
}

.timepicker {
	width:40px ! important;
}

.mega-menu ul {
	display: none;
}

#premiumupgrade, #premiumupgrade2 {
	font-weight: bold;
	font-style: italic;
	font-size: 17px;
	color: #333333;
}
#premiumupgrade td span {
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	color: #999999;
}

#premiumupgrade2 td span {
	font-style: normal ;
	font-weight: normal;
	color: #555555 ! important;
	font-size: 15px ! important;
}

#premiumupgrade td, #premiumupgrade2 td {
	padding: 30px;
	border-bottom: 1px solid #CCCCCC;
	font-family: Myriad Pro Light;
}
#premiumupgrade2 td {
	padding: 5px ! important;
}

#siteconfig {
	font-weight: bold;
	font-style: italic;
	font-size: 15px;
	color: #333333;
}
#siteconfig td span {
	font-size: 13px;
	font-style: normal;
	font-weight: normal;
	color: #999999;
}

#siteconfig td {
	padding: 10px;
	border-bottom: 1px solid #CCCCCC;
	font-family: Myriad Pro Light;
}

#jobsearch label {
	margin-top: 10px;
	display: block;
}

.restrictheight {
	max-height: 100px;
	overflow: hidden;
	font-size: 11px;
}

.fixed {
	table-layout: fixed;
}

.jobs .label {
	width: 160px ! important;
	font-style: italic;
	font-weight: bold;
}
.jobs .title a:hover {
	text-decoration: underline;
}

.jobs .title a {
	text-decoration: none;
	font-size: 15px;
	color: red;
	font-weight: bold;
}

#jobdetail {
	padding: 20px;
	max-width: 500px;
	font-size: 12px;
	color: black;
}

#errorlogin {
	color: white ! important; 
	font-weight: bold ! important; 
	margin-left: -70px;
	width: 240px;
}

#errorwindow {
	background: url(../images/errorbg.png) no-repeat ! important;
	position: absolute;
	padding-left: 15px;
	font-weight: bold;
	border: 1px solid grey;
	width: 385px;
	height: 140px;
	margin-top: -30px;
	margin-left: 300px;
}

.hidden {
	display: none;
}

.invalid {
	border: 1px solid red ! important;
}

.bubble {
	visibility: hidden;
	display: inline-table;
	margin-left: 10px;
	position: relative;
	vertical-align: bottom;
	width: 16px;
	height: 16px;
	background: url(../images/invalid.png);
}

.backicon {
	background: url(../images/back.png);
	width:60px;
	height:60px;
	display: block;
}

.backicon:hover {
	background: url(../images/back-hover.png) ! important;
}


form label {
	font-weight: bold;
}

.logo {
	position: absolute;
}


.ui-widget {
	font-size: 11px ! important;
}

.ui-dialog-content {
	background: white ! important;
}

.content {
	background-color: white;
	padding: 5px;
	width: 1000px;
}

.pad5 {
	padding: 5px ! important;
}
#title h4 {
	color: white ! important;
	padding-top: 5px ! important;
}

.content > #title {
	margin-top: 0px;
	background: url(../images/title.png) no-repeat;
	padding-left: 30px;
	width: 400px;
	height: 40px;
}
#documentForm {
	padding:13px 10px 13px 10px; 
	border:1px dashed grey;
}

#embeddedcontent label, #content label {
	display: block;
	vertical-align: bottom;
	font-weight: bold;
}

#embeddedcontent div, #embeddedcontent form {
	background-color:white ! important;
}	

iframe {
	background-color:white ! important;
		border: 0px solid black;
}

#documentcontainer {
	background-color:white ! important;
}

.embeddedpage {
	text-align: left;
	background-color: #f1f1f1 ;
}

#calendar {
	width: 100%;
	margin-top: 10px;
	margin-bottom: 10px;
}

#calendar .fc-border-separate div {
}

.menu2  {
	width: 1010px;
	position: absolute;
	float:right;
	margin-top: -10px;
}

.submenu  li, .submenu a {
	letter-spacing: 1px ! important;
	height:12pt ! important; 
	margin:0px ! important;
	padding:2px ! important;
	display:block ! important;
	color:#076ba7 ! important;
	line-height:12pt;
	text-align: left ! important; 
	background: none ! important;
	white-space:nowrap;
}

.submenu li:hover {
	color:black ! important;
	background: none ! important;
}

.submenu {
	display:none;
	border:1px solid #d0e0ed;
	POSITION: absolute ;
	text-align:left;
	z-index:100;
	background-color:#f0f0f0 ! important;
	font-size:8pt;
	padding:0px;
	top:80px;
	min-width: 50px;
	margin:0px;
	moz-box-shadow : 0px 0px 7px #888888; 
	box-shadow: 0px 0px 7px #888888; 
	filter:progid:DXImageTransform.Microsoft.Shadow(color='#888888',direction='120',strength='5');
}

.entryform, #filterpanel  {
	max-height: 500px;
	overflow: auto;
}

.textarea_div {
	height: 150px;
	width: 700px;
	overflow-y: auto;
	overflow-x: none;
	border: 1px solid grey;
	padding: 5px;
	font-size: 17px; 
}

.mceIframeContainer iframe {
	font-size: 4px;
}

.eventColor1 .fc-event-inner {
    background-color: green ! important; /* background color */
	color: white ! important;
	font-size:9px;
	width:100% ! important;
 }

.eventColor2 .fc-event-inner {
	background-color: yellow ! important;
	font-size:9px;
	width:100% ! important;
	
}

.eventColor3 .fc-event-inner {
	background-color: cyan ! important;
	font-size:9px;
	width:100% ! important;
	
}

.eventColor4 .fc-event-inner {
	background-color: blue ! important;
	font-size:9px;
	color: white ! important;
	width:100% ! important;
	
}
#calendar .fc-event-inner {
	border: 1px dotted black ! important;
}

#calendar .fc-event {
	border: 0px solid black ! important;
}


#calendar .fc-event-inner:hover {
	border: 1px solid black ! important;
	background-color: #FFFFAA ! important;
}

#tabledata {
	border-top: 1px solid grey;
	width: 1000px;
	height: 530px;
	overflow: auto;
}

.usercombodesc {
	display: inline-table;
}

#logindialoglogo:hover {
	background: url(../images/login-hover.png);
}

#logindialoglogo {
	background: url(../images/login.png);
	float:right; 
	margin-top: 0px;
	width: 100px;
	height: 100px;
}


.mailtable td {
	border-bottom:1px solid #CCCCCC; 
	padding:0px 0px 2px 0px;
}

.mailtable:hover {
	background-color: #FFFF88;
}

.mailtable h4 {
	font-weight: bold;
	color: #9999FF;
	font-size:14px;
	margin: 0px;
	padding:4px 0px 4px 0px;
	line-height:14px;
}

.messageheader a {
	font-size:14px;
		text-decoration: none;
	font-weight: bold;
	color: #9999FF;
}

.tabstrip {
	width: 100%;
	margin-bottom: 20px;
}

.tabstrip li a {
	text-decoration: none;
}

.tabstrip li {
	text-align: center;
	padding:3px 0px 0px 0px;
	border-bottom: 1px solid #AAAAAA;
	display: inline-table;
	width: 70px;
	list-style: none ! important;
	list-style-type: none ! important;
	margin: 0px ! important;
}

.tabstrip .current {
	border-bottom: 0px solid #AAAAAA ! important;
	border-top: 1px solid #AAAAAA;
	border-right: 1px solid #AAAAAA;
	border-left: 1px solid #AAAAAA;
}

.tabstrip .last {
	text-align: right;
	display: inline-table;
	width: 785px;
}

.messageheader SELECT {
	margin-left: 20px;
}

.viewmessage td {
	padding-right: 20px;
}
.viewmessage h5 {
	font-size: 15px;
	
}

.viewmessage h5 span {
		color: #9999FF;
}

.viewmessage h3 {
	font-size: 21px;
	margin: 0px;
	padding-bottom: 5px;
	font-weight: bold;
}
.viewmessage ul li a {
	color: green;
	font-weight: bold;
	font-size:16px;
	text-decoration: none;
}

.viewmessage .messagecontent {
	padding-top: 20px;
}

.viewmessage ul {
	padding: 10px;
}

.viewmessage ul li {
	width: 100px;
	text-align: center;
	display: inline-table;
}

.userselector {
	padding: 5px;
	border: 1px solid #CCCCCC;
	height: 200px;
	overflow: auto;
	width: 300px;
}

.userselector tr:hover {
	background-color: #FFFF88;
}

.userselector table {
	width: 280px;
	table-layout: fixed;
}

.userselector table tr {
	height: 32px;
}
.userselector table td {
	padding: 2px ! important;
}

.composetable td {
	padding:10px;
}

.reportform table td {
	padding:3px;
}

.editform td {
	padding:0px;
}

.hiddenframe {
	z-index: 222111122290;
	width:600px;
	height:400px;
	left:200px;
	display:none;
	background-color: white;
	top:100px;
	position: fixed;
}

.hiddenframe iframe {
	width:100%;
	height: 100%;
}
.invoicebuttons a b, .quotebuttons a b {
	color: white;
}

.invoicebuttons a:hover, .quotebuttons a:hover {
	text-decoration: none;
	color: black ! important;
}

.invoicebuttons a:hover b, .quotebuttons a:hover b {
	color: black ! important;
}

.invoicebuttons a, .quotebuttons a {
	text-decoration: none;
}
.invoicebuttons table, .quotebuttons table {
	float:right;
}

.invoicebuttons {
	width: 650px;
	position: absolute;
	margin-top: -30px;
	margin-left: 180px;
	
}
.quotebuttons {
	width: 550px;
	position: absolute;
	margin-top: -30px;
	margin-left: 280px;
	
}

.criteria td {
	padding: 2px;
}

.criteria .label {
	font-weight: bold;
	font-style: italic;
}

.bold {
	font-weight: bold;
	font-style: italic;
	font-size:13px;
}

.green-row td {
	color: #008800 ! important;
	font-weight: bold  ! important;
}

.orange-row td {
	color: orange ! important;
	font-weight: bold  ! important;
}
.red-row td {
	color: red ! important;
	font-weight: bold  ! important;
}

input,textarea,select {
	font-family: Arial, Helvetica, sans-serif;
	background-color: #D3FCF3 ! important;
	font-size: 1em;
	vertical-align: middle;
	font-weight: normal
}

input[readonly], textarea[readonly], select[readonly] {
	font-family: arial;
	background-color: #E3ECE3 ! important;
	color: black;
}